################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimeNumberGenerator/PrimeNumberGenerator/bin/Debug
/PrimeNumberGenerator/PrimeNumberGenerator/obj/Debug
