################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimeNumberGenerator/PrimeNumberGenerator/bin/Debug
/PrimeNumberGenerator/PrimeNumberGenerator/obj/Debug
/PrimeNumberGenerator/PrimeNumberGeneratorModels/obj/Debug
/PrimeNumberGenerator/PrimeNumberGeneratorTests/bin/Debug
/PrimeNumberGenerator/PrimeNumberGeneratorTests/obj/Debug
/PrimeNumberGenerator/PrimeNumberGeneratorModels/bin/Debug
